name: run pre commit and pylint

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:
  precommit:
    runs-on: ubuntu-latest
    name: precommit
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v5.2.0
      with:
        python-version: "3.11"
    - run: |
        python -m pip install --upgrade pip
        pip install pre-commit
        pre-commit clean
        pre-commit autoupdate
        pre-commit run --all

  pylint:
    runs-on: ubuntu-latest
    name: pylint
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v5.2.0
      with:
        python-version: "3.11"
    - run: |
        python -m pip install --upgrade pip
        pip install "pylint<3.0.0"
        pip install -e .
        pylint $(git ls-files '*.py') --extension-pkg-whitelist=PyQt5
        
      
