name: pypi

defaults:
  run:
    shell: bash

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  schedule:
    - cron: '0 12 * * 1'
  release:
    types: [published]
    
jobs:
  dist:
    name: upload to PyPI
    runs-on: ubuntu-latest
    environment: pypi
    permissions:
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v5.2.0
        with:
          python-version: "3.11"
      - name: Set up packages
      - run: |
          pip install twine build
          unset CI
          python -m build 2>&1 | tee build.log
          exit `fgrep -i warning build.log | grep -v "tool.setuptools_scm" | wc -l`

      - name: Run twine check
      - run: twine check --strict dist/*
        
      - if: github.event_name == 'push' && github.ref == 'refs/head/main'
        uses: pypa/gh-action-pypi-publish@release/v1.12
        with:
          attestations: false
  
